asttokens
attrs
colorama
comm
contourpy
cycler
python-dateutil
debugpy
executing
fonttools
future
ipykernel
ipython
jedi
jupyter-client
jupyter-core
kiwisolver
llvmlite
matplotlib
matplotlib-inline
narwhals
numba
numpy
packaging
pandas
parso
patsy
pillow
pip
platformdirs
plotly
prompt-toolkit
psutil
pure-eval
pygments
pyparsing
pyswarms
pytz
numpy-quaternion
scipy
seaborn
scikit-opt
stack-data
statsmodels
tornado
tqdm
traitlets
tzdata
wcwidth
pyyaml
pyzmq
